@model List<Character>

@{
    ViewData["Title"] = "The Dragon Ball";
    var currentPage = ViewBag.CurrentPage;
    var totalPages = ViewBag.TotalPages;
    var search = ViewBag.Search ?? "";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .card {
            width: 250px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            overflow: hidden;
            background-color: #fff;
            transition: transform 0.3s ease; /* Transición suave para la transformación */
        }

            .card img {
                max-width: 100%;
                max-height: 150px;
                object-fit: contain;
                margin: auto;
            }

            .card:hover {
                transform: scale(1.1); /* Aumenta tamaño de la tarjeta cuando se pasa el cursor */
            }

        .custom-logo {
            width: 100px;
            height: auto;
        }

        body {
            background-color: #8E79CE; 
        }
    </style>
</head>
<body>

    <div class="container my-4">

        <div class="text-center mb-4">
            <img src="~/img/Dragon_Ball_Z_logo.svg" class="img-fluid rounded w-25" alt="Dragon Ball Z Logo" />
        </div>

        <!-- Formulario de búsqueda -->
        <form method="get" action="@Url.Action("Index")" class="mb-4">
            <div class="input-group">
                <input type="text" name="search" value="@search" class="form-control" placeholder="Buscar personaje...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>

        <div class="row">
            @foreach (var character in Model)
            {
                <div class="col-md-3 d-flex align-items-stretch">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>@character.Name</h2>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-6"><strong>Raza:</strong></div>
                                <div class="col-6">@character.Race</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6"><strong>Género:</strong></div>
                                <div class="col-6">@character.Gender</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6"><strong>KI:</strong></div>
                                <div class="col-6">@character.Ki</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6"><strong>Afiliación:</strong></div>
                                <div class="col-6">@character.Affiliation</div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-12">
                                    <a href="@Url.Action("PeronsajeId", "Home", new { personaje = character.Id })">
                                        <img src="@character.Image" alt="@character.Name" class="img-fluid rounded" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Paginación -->
        <nav aria-label="Page navigation example" style="margin-bottom:2%">
            <ul class="pagination justify-content-center">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
                @if (currentPage < totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>

</body>
